<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.clup">

    <application
        android:name=".Entities.ApplicationState"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CLup">
        <activity android:name=".PreLoginController"></activity>
        <activity android:name=".CustomerController" />
        <activity android:name=".StoreManagerController" />
        <activity android:name=".TicketController" />
        <activity android:name=".HomeController">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ForgotPassword" />
        <activity android:name=".UserProfile" />
        <activity android:name=".RegisterScreen" />
        <activity android:name=".StoreController" />
        <activity android:name=".QrController" />
        <activity
            android:name=".ScannerController"
            tools:ignore="DuplicateActivity" />
        <activity android:name=".LoginController" />
    </application>

</manifest>