<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.clup">

    <application
        android:name=".Entities.ApplicationState"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CLup">
        <activity android:name=".HomeController">
        </activity>
        <activity android:name=".ForgotPassword">

        </activity>
        <activity android:name=".UserProfile" />
        <activity android:name=".RegisterScreen" />
        <activity android:name=".StoreController" >

        </activity>
        <activity android:name=".QrController" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScannerController"
            tools:ignore="DuplicateActivity" >

        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>